<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let product of list">
          <ion-card>
            <ion-card-header>
              <ion-img [src]="product.img"></ion-img>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-title>{{ product.name }}</ion-title>
              <ion-chip>
                <ion-label>{{ product.price }}</ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>