<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Tabela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <div id="container">
    <ion-card class="ion-text-center" color="light">
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Nome do produto</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Preço</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Estoque</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Skinny Jeans Rasgada</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>75,00</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>10</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Mega Jeans Rasgada</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>135,00</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>6</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Vintage Skinny Jeans</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>90,00</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>12</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Skinny Jeans Desgastado</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>98,00</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>15</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Jeans Azul Claro</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>150,00</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>4</ion-label>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-4>
          <ion-label>Skinny Jeans Azul</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>85</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>19</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>