<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div id="container">
    <ion-img class="homeImg" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/04/05/5e8a3c4e97637.jpg">
    </ion-img>
    <div class="description">
      <ion-card>
        <ion-card-header>
          <ion-card-title>PDW Store</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>A PWD Store teve suas origens no ano de 1967 no centro de São Paulo, começando apenas como um brechó, hoje a empresa se expandiu ao ponto de ter mais de 15 filiais espalhadas pelo estado de São Paulo, garantindo sua qualidade e confiabilidade durante esses anos.</ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>